nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black);
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

li {
  display: inline-block;
}

li:hover {
  background-color: var(--gray1);
}

a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: var(--white);
}

.main {
  margin-top: 75px;
  padding: 0 0.5em;
}

body {
  background: var(--purple);
  color: var(--white);
}

@media (max-width: 414px) {
  li {
    width: 100%;
  }

  .main {
    margin-top: 220px;
  }
}

@media (min-width: 415px) {
  body {
    background: var(--orange);
    color: var(--black);
  }
}

@media (min-width: 1024px) {
  body {
    background: var(--green);
    color: var(--white);
  }
}
